<!DOCTYPE html>
<html>
<head>
  <title>About me | Juan Cabello</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand" href="#">Juan Cabello</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="#sobre-mi">Sobre mí</a></li>
          <li class="nav-item"><a class="nav-link" href="#habilidades">Habilidades</a></li>
          <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    
    <header class="text-center hero p-5 mb-5"
      <h1 class="display-5 text-primary">Juan Cabello Vargas</h1>
      <p class="text-secondary">Ingenieria Civil en Ciencias de la Computacion</p>
      <div class="gap-3 justify-content-center">
        <p>Puedes pasar por mis repositorios en</p>
        <a href="https://github.com/JuanCabelloVargas" class="btn btn-primary">Github Universidad</a>
        <a href="https://github.com/JCabelloV" class="btn btn-secondary">Github personal</a>
      </div>
    </header>

    <section id="#sobre-mi" class="mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-primary text-center"> Sobre mi </h2>
          <p class="text-center">Soy estudiante de Ingeniería Civil en la Universidad de los Andes, entré el año 2024 a través de cambio desde otra casa de estudios.
            Me interesa aprender de distintas áreas y ver cómo se relacionan entre sí. En mi tiempo libre cuido mis plantas y
            pruebo recetas nuevas de café mientras juego con mis amigos.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Habilidades</h2>
          <table class= "table">
            <thead class="table-dark">
              <tr>
                <th>Lenguajes</th>
                <th>Herramientas</th>
                <th>Otros</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Python, C++, Javascript, Lua</td>
                <td>Git, PostgreSQL, React</td>
                <td>Linux enviroments, virtualizacion, Arduino</td>
              </tr>
            </tbody>
          </table>
          <table class= "table">
            <thead class="table-dark">
              <tr>
                <th>Lenguajes</th>
                <th>Herramientas</th>
                <th>Otros</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Python, C++, Javascript, Lua</td>
                <td>Git, PostgreSQL, React</td>
                <td>Linux enviroments, virtualizacion, Arduino</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-primary">Algunos proyectos</h2>

      <div class="row">
        <div class="col">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#outfithueCollapse" role="button" aria-expanded="false" aria-controls="outfithueCollapse">
            OutfitHue
          </a>
        </div>

        <div class="col">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#twitterCardCollapse" role="button" aria-expanded="false" aria-controls="twitterCardCollapse">
            Twitter Follow Card
          </a>
        </div>

        <div class="col">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#dotfilesCollapse" role="button" aria-expanded="false" aria-controls="dotfilesCollapse">
            Dotfiles arch+hyprland
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="outfithueCollapse">
            <div class="card card-body">
              <p>
                Aplicación hecha con React, su principal función es entregar una paleta de colores aleatoria cada día, para que el usuario pueda usar esos colores en su outfit diario.
              </p>
              <a href="https://github.com/JCabelloV/outfitHue" class="btn btn-primary">Ver en Github</a>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="collapse multi-collapse" id="twitterCardCollapse">
            <div class="card card-body">
              <p>
                Implementación de la tarjeta para seguir usuarios de la aplicación Twitter. Basada en el video de Midudev.
              </p>
              <a href="https://github.com/JCabelloV/TwitterFollowingCard" class="btn btn-primary">Ver en Github</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="collapse multi-collapse" id="dotfilesCollapse">
            <div class="card card-body">
              <p>
                Archivos de configuración de Arch + Hyprland. Incluye cambios para nvim, waybar, kitty, entre otros.
              </p>
              <a href="https://github.com/JCabelloV/desktop-dotfiles" class="btn btn-primary">Ver en Github</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>
</html>
