<!DOCTYPE html>
<html>
<head>
  <title>About me | Juan Cabello</title>
</head>
<body>
  <div class="container">
    <header class="text-center">
      <h1 class="text-primary">Juan Cabello Vargas</h1>
      <p class="text-secondary">Ingenieria Civil en Ciencias de la Computacion - Ingreso 2024</p>
    </header>

    <section>
      <p class="text-center">Puedes ver mis proyectos en
      <a href="https://github.com/JuanCabelloVargas" class="link-primary">GitHub</a>
      </p>
    </section>

    <section>
      <h2 class="text-primary text-center">Sobre Mi</h2>
      <p class="text-center">Soy estudiante de Ingenieria Civil en la Universidad de los Andes, entre el a;o 2024 a traves de cambio desde otra casa de estudios. Me interesa mucho aprender de distintas areas y ver como estas pueden llegar a relacionarse entre si, sin importar sus diferencias. En mi tiempo libre me gusta cuidar de mis plantas y probar recetas nuevas de cafe mientras juego con mis amigos</p>
    </section>
  </div>
</body>
</html>
